<div class="site-nav">
      <h1><a href="/">{{ site.title }}</a>a></h1>
    <nav>
              <a href="/" {% if page.url == "/" %}class="active"{% endif %}>About</a>a>
              <a href="/publications.html" {% if page.url == "/publications.html" %}class="active"{% endif %}>Publications</a>a>
              <a href="/blog.html" {% if page.url == "/blog.html" %}class="active"{% endif %}>Blog</a>a>
              <a href="/contact.html" {% if page.url == "/contact.html" %}class="active"{% endif %}>Contact</a>a>
    </nav>
</div>div>
    </nav></h1>
